/*
    TO-DO
*/

:root {
    --main-bg-color: #fbf5ef;
    --main-color: #272744;
    --sec-bg-color: #777;
    --sec-color: #fff;
    --main-font: "Press Start 2P";
    --success: green;
    --warning: yellow;
    --error: red;
}
  

*, *::after, *::before {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    box-sizing: border-box;
}

/* Inicio Mess */
.mess-container {
    width: calc(100% - 20px);
    margin: 10px;
    border: 4px solid var(--main-bg-color);
    box-shadow: inset 0 0 0px 4px var(--main-color);
    background-color: var(--main-bg-color);
}

.mess-container .title {
    background: var(--main-bg-color);
    width: auto;
    float: left;
    position: relative;
    top: -5px;
    left: 0;
    margin: 0 50% 0 0;
    padding: 0 5px;
}

/* .mess-progress[value] {
    -webkit-appearance: none;
    appearance: none;
    float: left;
    position: relative;
    width: 100%;
    height: 20px;
    background-color: var(--main-bg-color);
    border: 2px solid var(--main-color);
}

.mess-progress[value]::-webkit-progress-bar,
.mess-progress[value]::-moz-progress-bar {
    background-color: var(--main-bg-color);
}
.mess-progress[value]::-webkit-progress-value,
.mess-progress[value]::-moz-progress-value {
    background: var(--success);
}
.mess-progress.is-warning[value]::-webkit-progress-value,
.mess-progress.is-warning[value]::-moz-progress-value {
    background: var(--warning);
}
.mess-progress.is-error[value]::-webkit-progress-value,
.mess-progress.is-error[value]::-moz-progress-value {
    background: var(--error);
} */

.mess-balloon {
    background: var(--main-bg-color);
    padding: 10px;
    border: 4px solid #333;
    border-radius: 6px;
    position: relative;
}

.mess-balloon::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid var(--main-color);
    border-left: 20px solid transparent;
    position: absolute;
    float: left;
    left: 40px;
    bottom: -20px;
}



/* Fim Mess */
body {
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: var(--main-color);
    font-family: var(--main-font);
    background-color: var(--main-bg-color);
}
.content {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 500px;
    border: 4px solid var(--main-bg-color);
    /* box-shadow: inset 0 0 0px 4px var(--main-color); */
    background-color: var(--main-bg-color);
    max-height: 800px;
}

header {
    position: absolute;
    padding: 0px 10px 10px;
}

section {
    position: absolute;
    display: block;
    width: 100%;
    /* height: calc(100% - 20px); */
    margin: 10px 0;
    float: left;
}

header+section {
    margin-top: 60px;
}

h2 {
    font-size: 1.4em;
    line-height: 1.4;
}

h3 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    padding: 0 10px;
}

button {
    font-family: var(--main-font);
    font-size: 0.85em;
    width: calc(100% - 2px);
    padding: 10px;
    border: 4px solid var(--main-color);
    box-shadow: -4px 4px 0 0px var(--main-color);
    background-color: var(--main-bg-color);
    margin-left: 2px;
    cursor: pointer;
    min-height: 40px;
    position: relative;
}
button::after {
    content: "";
    background: transparent;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset -3px -3px 0 rgba(0,0,0,0.2);
}

button+button {
    margin-top: 10px;
}

button.voltar {
    background-color: var(--sec-bg-color);
    color: var(--sec-color)
}

.foto_char {
    float: none;
    position: relative;
    width: 40vw;
    height: 40vw;
    max-width: 200px;
    max-height: 200px;
    background: red;
    display: block;
    margin: 0 auto 10px;
    background-image: url('../src/img/Hero_01_Faceset.png');
    background-size: 420%;
    background-position: 67% 33%;
}

.foto_local {
    float: none;
    position: relative;
    width: 60vw;
    height: 60vw;
    max-width: 322px;
    max-height: 322px;
    background: var(--sec-bg-color);
    display: block;
    margin: 10px auto;
    background-image: url('../src/img/sala.png');
    background-size: 100%;
    background-position: bottom center;
}

.local-prefeitura {
    background-image: url('../src/img/bg_prefeitura.png');
    width: 100%;
    background-color: red;
    max-width: 100%;
    height: 57vw;
}

.progress {
    float: left;
    position: relative;
    width: 100%;
    height: 20px;
    border: 4px solid var(--main-color);
}

.progress_bar {
    float: left;
    position: absolute;
    height: 100%;
    background-color: var(--success);
}

.progress_bar.is-warning {
    background-color: var(--warning);
}

.progress_bar.is-error {
    background-color: var(--error);
}

@media (min-width: 501px) {
    .content {
        position: fixed;
        margin-left: 50%;
        left: -250px;
    }
}